#botao-smartchat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  line-height: 80px;
  z-index: 9999;
  transition: all 0.3s ease;
}
#botao-smartchat:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#message{
	flex: 1;
	padding: 6px 12px;
	border-radius: 5px 0 0 5px;
}

.typing{
	display: none;
	position: absolute;
    top: calc(100% + -85px);
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: #9a9a9a;
}

.typing.show {
  display: block;
}

.logo_box_chat{
	filter: opacity(0.8);
}

.bottom-chat {
  bottom: 22px;
}

.top-chat {
  top: 92px;
}

.botao-smartchat svg {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  fill: #ffffff;
}

.botao-smartchat-inferior-esquerdo {
	left: 20px;
}

.box-chat-inferior-esquerdo {
	left: 110px;
}

.botao-smartchat-superior-direito {
	top: 32px;
}

.box-chat-superior-direito {
	top: 32px;
}

.botao-smartchat-superior-esquerdo {
	left: 20px;
	top: 32px;
}

.box-message-chat{
	display: flex;
}

.box-chat-superior-esquerdo {
	left: 110px;
	top: 32px;
}

.virtual-assistant-box {
	display: none;
	background-color: white;
	position: fixed;
	bottom: 22px;
	right: 106px;
	width: 300px;
	height: 400px;
	border: 1px solid #B3B3B3;
	border-radius: 10px;
	overflow-y: scroll;
	z-index: 99999;
	box-shadow: 1px 1px 6px #3b3b3b78;
}

.chat-message.clearfix {
	position: fixed;
    left: auto;
	padding: 290px 0 11px 15px;
	width: 285px;
}

.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 15px;
    border-bottom: 2px solid #fff;
}

.chat .chat-history ul {
    padding-bottom: 10px;
}

.chat .chat-history ul li {
    list-style: none;
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
	margin-right: 5%
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #efefef;
	right: 40px;
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text{
	border-radius: 0 5px 5px 0;
	padding: 15px 30px 15px 12px;
}

.icon{
	zoom: 2;
	margin-top: 12px;
}

.button-message{
	width: 0px;
}

.virtual-assistant-box::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.virtual-assistant-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.virtual-assistant-box::-webkit-scrollbar-thumb {
  background: #888;
}

.virtual-assistant-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}